<h4 class="fw-normal text-primary">Angular Components </h4>
<p>
    Components are the main building block for Angular applications.
</p>
<p>
    Components define views, which are sets of screen elements that Angular can
    choose among and modify according to your program logic and data.
</p>

<h4 class="fw-normal text-primary">Generating a component </h4>
<p>
    Generate a new component by the command: ng generate component my_comp_name
</p>
<p>
    By default, this command will generate the following files:

</p>
<ul>
    <li>
        A folder named after the component
    </li>
    <li>
        A component file, my_comp_name.component.ts
    </li>
    <li>
        A template file, my_comp_name.component.html
    </li>
    <li>
        A CSS file, my_comp_name.component.css
    </li>
    <li>
        A testing specification file, my_comp_name.component.spec.ts
    </li>
</ul>