<h4 class="fw-normal text-danger">What is angular ? </h4>
<p>
    Angular is an application design framework and development platform
    for creating efficient and sophisticated single-page apps.
</p>
<p>
    Angular is a development platform, built on TypeScript
</p>
<p>
    The official website for Angular: <a href="https://angular.io/" target="_blank">Angular</a>
</p>

<h4 class="fw-normal text-danger">Setting up Angular </h4>
<ol>
    <li>
        To install Angular for your computer run the command: <i>npm install -g @angular/cli</i>.
    </li>
    <li>
        Note in linux and mac Os due to some root permission you need to add sudo
        hence <i>sudo npm install -g @angular/cli </i>
    </li>
    <li>Generating a new workspace: <i>ng new my_project_name</i> </li>
    <li>
        Start the application ng serve or run the command <i>ng serve --open</i>
    </li>
</ol>
